*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
nav .fa{
    display: none;
}
.header{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;

}
nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 200px;

}
.nav_links{
    flex:1;
    text-align: right;
}
.nav_links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav_links ul li a{
    color: #ffff;
    text-decoration: none;
    font-size: 14px;
}
.nav_links ul li::after{
    content: ' ';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav_links ul li:hover::after{
    width: 100%;
}
.text_box{
    width: 90%;
    color:white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,0%);
    text-align: center;
}
h2{
    font-weight: bolder;
    text-shadow: 1px 1px  wheat;
}
.content{
    width: 80%;
    margin: auto;
    padding-top: 100px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin:5%;
    padding-bottom:50px;

}
.col-text p{
    padding-bottom: 20px;
}
.col-img img {
    width: 100%;

}
.btn{
    display: inline-block;
    text-decoration: none;
    color:#f44336;
    border: 2px solid #f44336;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    border-radius: 1px;
}
.btn:hover{
    border:2px solid #f44336;
    background-color: #f44336;
    transition: 1s;
    color: white;

}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;   
    background-color: rgba(244, 236, 236, 0.995); 
}
.footer h1{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color:#f44336;
    margin:0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heat-o{
    color: #f44336;
}
@media(max-width:700px){
    .text_box h1{
        font-size: 24px;
    }
    .nav_links ul li{
        display: block;
    }
    .nav_links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size:22px ;
        cursor: pointer;
    }
    .nav_links ul{
        padding:30px ;
    }
    
}
